
.header-tag h3{
    margin: 0;
    padding: 0 0 0 2px;
}

.header-tag{
    display: flex;
    background-color: #F55A5A;
    text-align: center;
    color: white;
    padding: 10px 10px 20px 650px;

}

body{

    padding: 0;
    margin: 0;
}

.location{
    padding: 50px;
    display: flex;
}

.location-img{
    height: 200px;
    width: 150px;
    border-radius: 0.5rem;
}

.location-map{
    display: flex;
    
}
.location-content{
    padding-left: 15px;
    display: grid;
}

.location-title{
    padding:0px;
    margin:0px;
}

.location-text{
    padding: 0px;
    display: grid;
}

.location-name{
    padding-left: 10px;
    margin:0px;
    font-weight: bold;
    color: gray;
}
.location-loc{
    padding-left: 10px;
}
.location-icon{
    color: #F55A5A;
    

}